option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: prod
    APP_DEBUG: false

container_commands:
  01-clear-cache:
    command: "php bin/console cache:clear --env=prod"
    leader_only: true
  02-warmup-cache:
    command: "php bin/console cache:warmup --env=prod"
    leader_only: true

